.Bio p {
    position: relative;
    top: -10px;
    line-height: 1.75;
}

.Bio p:nth-child(3) {
    padding-top: 12px;
}

.Bio p:nth-child(5) {
    margin-top: 40px;
}

.Bio ul {
    position: relative;
    left: -40px;
    line-height: 2;
}